/*----Fonts----*/
@font-face {
    font-family: TitiliumRegular;
    font-weight: 400;
    src: url(../fonts/TitilliumWeb-Regular.ttf) format('ttf');
  }
  
  body {
    font-family: TitiliumRegular;
    color: #6e6e6d;
  }
  
  @font-face {
    font-family: TitiliumSemiBold;
    font-weight: 400;
    src: url(../fonts/TitilliumWeb-Bold.ttf) format('ttf');
  }
  
  h1 {
    font-family: TitiliumSemiBold;
  }
  
  
  /*----Page Templates----*/
  @page {
    @top-right {
      /* background: #fbc847; */
      color: rgb(185, 0, 255);
      font-weight: 900;
      content: counter(page);
      height: 1cm;
      text-align: center;
      width: 1cm;
    }
    @bottom-center {
      content: 'Gaia-x Glossary';
      color: #575756;
      display: block;
      height: 1cm;
      opacity: .7;
      width: 100%;
    }
  /*   @top-right {
      content: string(heading);
      font-size: 9pt;
      height: 1cm;
      vertical-align: middle;
      width: 100%;
    } */
  }

  @page :blank {
    @top-left { background: none; content: '' }
    @top-center { content: none }
    @top-right { content: none }
  }
  @page no-chapter {
    @top-left { background: none; content: none }
    @top-center { content: none }
    @top-right { content: none }
  }
  @page first {
    background: url('./background-title-with-logo.png') no-repeat center;
    background-size: cover;
    margin: 0;
  }
  @page chapter {
    background: url('./background-all.png') no-repeat center;
    @top-right { content: none }
    @bottom-center { content: none }
  }
  
  /*----Cover Page----*/
  #first{
    margin-top: 40%;
    margin-left: 10%;
    margin-right: 10%;
    break-before: always;
    break-after: always;
    page: first;
    text-align:left;
    font-family: Titillium-SemiBold;
    color:white;
    font-size:70px;
  }
  
  /*----Table of Contents----*/
  .toc + ul, .toc + ul li {
      list-style-type: none;
  }
    
  .toc + ul li a {
    text-decoration: none;
    color: #6e6e6d;
  }
    
  .toc + ul > li > a {
    font-family: TitiliumSemiBold;
    color: #000094;
  }
  
  .toc ul {
    margin-bottom: 24px;
  }
    
  .toc + ul li a::after {
    color: #6e6e6d;
    content: target-counter(attr(href), page);
    float: right;
  }
  
  /*----Titles----*/
  h1 {
    color: #000094d8;
    font-size: 15pt;
    margin-top: 64px;
    margin-left: 12px;
  }

  /* h1:nth-of-type(3n+1) {
    break-before: always;
    margin-top: 0;
  } */

  h2, h3 {
    font-size: 13pt;
    color: #2A2A2A;
  }

  h5 {
    color: #ffffffd8;
    break-before: always;
    break-after: always;
    font-size: 10rem;
    font-weight: 800;
    page: chapter;
  }

  @media print {
    p, li {
      break-inside: avoid;
    }
  }

  p, ul, li, a {
    font-size: 11pt;
  }
