{% extends "gaia-x-document-template/mkdocs_base.yml.j2" %}
{% block site_name %}Gaia-X Glossary{% endblock %}

{% block nav %}
nav:
  - README.md
  - accreditation.md
  - architecture_of_standards.md
  - architecture_principle.md
  - catalogue.md
  - certification.md
  - claim.md
  - compatibility.md
  - compliance.md
  - compliance_fs.md
  - conformity_assessment.md
  - conformity_assessment_body.md
  - consumer.md
  - consumer_policy.md
  - continuous_automated_monitoring.md
  - contract.md
  - credential.md
  - data-logging-service.md
  - data-sovereignty-service.md
  - data_agreement_service.md
  - data_privacy.md
  - data_resource.md
  - data_space.md
  - digital_right_management.md
  - digital_sovereignty.md
  - ecosystem.md
  - end_user.md
  - endpoint.md
  - federated_trust_component.md
  - federation.md
  - federation_service.md
  - federator.md
  - gaia-x_portal.md
  - gaia_x_am.md
  - gaia_x_identifier.md
  - identity-trust.md
  - identity.md
  - identity_system.md
  - information_rights_management.md
  - interc_network_service.md
  - interconnection.md
  - interoperability.md
  - onboarding-accreditation-workflow.md
  - participant.md
  - policy-legal-organisational.md
  - policy-technical.md
  - portability.md
  - principal.md
  - provider.md
  - provider_am.md
  - resource.md
  - resource_owner.md
  - self-description_graph.md
  - self_description.md
  - service_composition.md
  - service_instance.md
  - service_offering.md
  - service_subscription.md
  - usage_control.md
  - usage_policy.md
  - visitor.md
{% endblock %}
